<% include partials/header %>


<div class = "container">
    <h1>Login to YelpCamp!</h1>
    
    
    <form method = "post" action = "/login">
        <input type = "text" name = "username" placeholder = "username">
        <input type = "password" name="password" placeholder = "password">
        <button class="btn btn-primary">Login!</button>
    </form>
    
    
</div>


    

<% include partials/footer %>